* {
    margin: 0;
    padding: 0;
}
body {
    /* Foosta's base color. */
    background-color: #F0FFFB;
}

.read-match {
    background-color: green;
    border: 1px solid black;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1000px;
}

.read-match-block {
    box-sizing: border-box;
    display: inline-block;
    height: 250px;
    vertical-align: top;
}

.read-match-team {
    width: 40%;
    font-size: 20px;
}

.read-score {
    background-color: grey;
    padding-top: 10px;
    text-align: center;
    width: 20%;
}

.read-score-text {
    font-size: 40px;
}

.read-red-team {
    background-color: red;
    padding-top: 10px;
    padding-left: 10px;
}

.read-blue-team {
    background-color: blue;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}


.sorting-icon {
    width: 10px;
    margin-left: 5px;
}

.sortable-header:hover {
    cursor: pointer;
    text-decoration: underline;
}


.player-name-link {
    color: inherit;
    text-decoration: none;
}
.player-name-link:hover {
    text-decoration: underline;
}


/* Remove them and replace by the new classes. */
.border1-base {
    border-color: black;
    border-style: solid;
}
.border1-rd {
    border-width: 0px 1px 1px 0px;
}
.border1-d {
    border-width: 0px 0px 1px 0px;
}

/* These are the new classes. */
.border-solid-black {
    border-color: black;
    border-style: solid;
}
.border-0110 {
    border-width: 0px 1px 1px 0px;
}
.border-0111 {
    border-width: 0px 1px 1px 1px;
}
.border-1110 {
    border-width: 1px 1px 1px 0px;
}
.border-1111 {
    border-width: 1px 1px 1px 1px;
}

.font-20 {
    font-size: 20px;
}
.font-bold {
    font-weight: bold;
}

.margin-left {
    margin-left: 10px;
}

.grid-content-center {
    display: grid;
    place-content: center;
}
.grid-content-left {
    display: grid;
    justify-content: left;
    align-content: center;
}

.statistics-select-holder {
    margin: 10px;
}
.statistics-label {
    font-size: 22px;
    font-weight: bold;
}
.statistics-select {
    font-size: 22px;
    background-color: #E3F5FF;
}
