.match-container {
    display: grid;
    grid-template-rows: 50px 450px;  /* Fits 13 players */
    grid-template-columns: 250px 150px 250px;
    grid-template-areas:
        "header header header"
        "first score second";

    width: 650px;
    margin: 10px;
}

.match-header {
    grid-area: header;
}

.first-team-list {
    grid-area: first;

    border-color: black;
    border-style: solid;
    border-width: 0px 1px 1px 1px;

    background-color: #d6ffd1;
}

.match-score-cell {
    grid-area: score;
    place-self: stretch;

    border-bottom: 1px solid black;

    display: grid;
    place-content: center;
}

.second-team-list {
    grid-area: second;
    justify-self: stretch;

    text-align: right;

    border-color: black;
    border-style: solid;
    border-width: 0px 1px 1px 1px;

    background-color: #ebf0ff;
}

.match-player-name {
    font-size: 20px;
    margin: 10px;
}

.match-score-text {
    font-size: 50px;
}


/*
.read-match {
    background-color: green;
    border: 1px solid black;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1000px;
}

.read-match-block {
    box-sizing: border-box;
    display: inline-block;
    height: 250px;
    vertical-align: top;
}

.read-match-team {
    width: 40%;
    font-size: 20px;
}

.read-score {
    background-color: grey;
    padding-top: 10px;
    text-align: center;
    width: 20%;
}

.read-score-text {
    font-size: 40px;
}

.read-red-team {
    background-color: red;
    padding-top: 10px;
    padding-left: 10px;
}

.read-blue-team {
    background-color: blue;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
*/

/* Write */

.write-match {
    background-color: lime;
    border: 1px solid black;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1000px;
}

.write-match-block {
    box-sizing: border-box;
    display: inline-block;
    height: 250px;
    vertical-align: top;
}

.write-match-team {
    width: 40%;
    font-size: 20px;
}
.write-red-team {
    background-color: pink;
}
.write-blue-team {
    background-color: cyan;
}

.write-score {
    background-color: lightgrey;
    padding-top: 10px;
    text-align: center;
    width: 20%;
    white-space: nowrap;
}
.write-score-text {
    font-size: 40px;
}

.put-score {
    display: inline-block;
    width: 40%;
    font-size: 40px;
    margin-top: 10px;
}
.put-red-score {
    text-align: right;
}
.put-blue-score {
    text-align: left;
}

.colon {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 40px;
}
